{
    "plugins": ["wdio"],
    "extends": [
        "eslint:recommended",
        "plugin:wdio/recommended"
    ],
    "parsetOptions":{
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "env":{
        "es6":true,
        "mocha": true,
        "node": true
    }
}